html {
  height: 100%;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
  background-image: url(".././images/background_3.jpg");
    background-size: cover;
  background-repeat: no-repeat;
}

.keyboard {
  display: flex;
  position: relative;
  top:40px;
  margin: 50px;
}

.instrument{
    display:flex;
    justify-content: center;
}
.piano{
    margin: 30px;
    height: 300px;
    justify-content: center;
    display: flex;
    border: 4px solid black;
    border-radius: 80px 80px 80px 80px;
    background-color: #cb8211;

}

.white-key {
  width: 90px;
    height: 180px;
  background-color: #FFF;
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
  outline: none;
  cursor: pointer;
}

.white-key.active {
  background-color: #C0C0C0;
}

.black-key {
  position: absolute;
    width: 40px;
    height: 125px;
  background-image: linear-gradient(#000000, #303030);
  border: 3px solid black;
  border-radius: 0 0 2px 2px;
  outline: none;
  cursor: pointer;
}

.black-key.active {
  background-image: linear-gradient(#000000, #101010);
}

.Db4-key {
  left: 63px;
}

.Eb4-key {
  left: 149px;
}

.Gb4-key {
  left: 321px;
}

.Ab4-key {
  left: 407px;
}

.Bb4-key {
  left: 493px;
}

.Db5-key {
  left: 665px;
}

.Eb5-key {
  left: 751px;
}


.title{margin: 100px;}
.credits{margin:150px;}